body {
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.topHeaderSection {
	background: url("../images/handmadepaper.png");
	z-index: 999;
}

.topHeaderSection ul.nav li a {
	font-size: 1.65em;
}

/*.sticky {
    position:fixed;
    top:0;
    width: 100%;
}
*/
#mainNavBar ul.nav {
padding-top: 3%;
}
.menu-padding {
    padding-top:4em;
}

p.blocktext {
	font-size: 1.5em;
}

p.homeblocktext {
	font-size: 1.7em;
}

#scroll-home {
  background: #666 none repeat scroll 0 0;
  border-radius: 60px;
  bottom: 1em;
  color: pink;
  font-size: 2em;
  opacity: 0.2;
  padding: 0.5em 1em;
  position: fixed;
  right: 1em;
  text-decoration: none;
  transition: all 600ms ease-in;
  outline: none;
  display: none;
}

#scroll-home:hover {
	background: #f44336;
	color: white;
	opacity: 1;
}



.col-sm-12 {
	padding: 0;
}

.section {
}
#intro-content {
  background: rgba(215, 215, 215, 0.1) none repeat scroll 0 0;
  color: white;
  margin-bottom: 2em;
  margin-top: 300px;
  padding: 1em;
}


#section-1 {
  background: #000 url("../images/criminal-head.jpg") no-repeat scroll center 40px;
  color: white;
}

#Learn {
  background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
  margin-top: 3em;
}

#section-3 {
	  background: #404080 none repeat scroll 0 0;
	  color: white;
	  padding-bottom: 2em;
}

#section-4 {
		padding: 2em;

	background: rgba(0, 0, 0, 0) url("../images/share.jpg") repeat scroll 0 -400px;
}

#section-4 p, #section-4 h2, #section-7 {
	color: white;
}

#section-5 {
	background: #337ab7;
	color: white;
}

#section-5 a{
	color: #5cb85c;
}

#section-7{
	background: #008b6d;
}

.use {
	/*border: 1px solid;*/
	margin: 3% 4%;
	min-height: 300px;
	padding-top: 10px;
	background: white;
	color: #404080;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	transition: all 200ms ease-in;
	box-shadow: 0 0 25px #666; 
}

/*#use1 {
	transform: rotate(120deg);
}

#use2 {
  transform: rotate(320deg);
}

#use3 {
	transform: rotate(300deg);
}

#use1:hover, #use2:hover, #use3:hover {
	transform: rotate(360deg);
}*/
.use-overlay {
  /*background: #800000 none repeat scroll 0 0;*/
  border-radius: 25px;
  padding-top: 200px;
  background-size: cover;
  cursor: pointer;
}

#use1 .use-overlay {
	background: #404080 url('../images/signal-bg.png') scroll no-repeat center;
  
}

#use2 .use-overlay {
	background: #404080 url('../images/conversations-bg.png') scroll no-repeat center;
}

#use3 .use-overlay {
	background: #404080 url('../images/kontalk-bg.png') scroll no-repeat center;
}

.dload {
	padding-left: 25px;
	background: url('../images/droid-apple-sprite.png') scroll no-repeat center;
	margin-left: 5px;
	padding-bottom: 5px;

}
.android {
	background-position: 0 0;
}
.ios {
	background-position: -75px -3px;
}
.wp {
	background-position: -156px 2px;
}

.modal {
	color: indianred;
}

.use:hover {
	background: #404080;	
	box-shadow: 0 0 25px #fff;
}

.use:hover .use-overlay {
	background-color: white !important;
}